<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><h4>Cihazlar</h4></div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Cihaz tipi</th>
          <th>Marka</th>
          <th>Model</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @devices.each do |device| %>
          <tr>
            <td><%= device.cihaz_tipi %></td>
            <td><%= device.marka %></td>
            <td><%= device.model %></td>
            <td><%= link_to 'İncele', device %></td>
            <td><%= link_to 'Düzenle', edit_device_path(device) %></td>
            <td><%= link_to 'Sil', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to 'Yeni Cihaz Ekle', new_device_path,class:"btn btn-default" %>
