<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading"><strong>Cihaz Detayları</strong></div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Marka</th>
          <th>Model</th>
          <th>Cihaz Tipi</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @device.marka%></td>
          <td><%= @device.model %></td>
          <td><%= @device.cihaz_tipi%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


















<%= link_to 'Düzenle', edit_device_path(@device),class:"btn btn-default" %>
<%= link_to 'Geri', devices_path,class:"btn btn-default" %>
