<%= form_for @user, url: users_path  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user .errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <%= f.label "Ad", class:"col-md-4 control-label"%>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <%= f.text_field :first_name,class:"form-control" ,placeholder:"Adınız" %>
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
<%= f.label "Soyad", class:"col-md-4 control-label" %>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <%= f.text_field :last_name,class:"form-control",placeholder:"Soyadınız" %>
    </div>
  </div>
</div>


<div class="form-group">
<%= f.label "Soyad", class:"col-md-4 control-label" %>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <%= f.file_field :avatar,class:"form-control",placeholder:"Soyadınız" %>
    </div>
  </div>
</div>


<div class="form-group">
<%= f.label "Parola", class:"col-md-4 control-label" %>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <%= f.password_field :password,class:"form-control",placeholder:"Parolanızı Giriniz" %>
    </div>
  </div>
</div>

<div class="form-group">
<%= f.label "Parola (Tekrar)", class:"col-md-4 control-label" %>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <%= f.password_field :password_confirmation,class:"form-control",placeholder:"Paralonızı Tekrar Giriniz" %>
    </div>
  </div>
</div>

<div class="form-group">
<%= f.label :email, class:"col-md-4 control-label" %>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <%= f.email_field :email,class:"form-control",placeholder:"E-Posta Adresiniz" %>
    </div>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4"><br>
    <%= f.submit "Kayıt Ol", class:"btn btn-warning"%>
  </div>
</div>
<% end %>
