<div class="jumbotron">
    <p id="notice"><%= notice %></p>
    <h2><%= @user.name %></h2>
    <h3><%= @user.email %></h3><br>

    <%= link_to 'Profilimi Düzenle', edit_user_path(@user), class:"btn btn-primary" %>
    <%= link_to 'Hesabımı Sil', @user , class:"btn btn-danger", method: :delete, data:{confirm:"Hesabınızı silmek istediğinizden emin misisniz?"}%>

</div>
