<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Firma Adı</label>
      <div class="col-sm-10">

        <%= f.text_field :name, class:"form-control", id:"focusedInput", value:"Firma Adını Giriniz..."%><br>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Firma Tanımı</label>
      <div class="col-sm-10">
        <%= f.text_field :description, class:"form-control", id:"focusedInput", value:"Firma Tanımı Giriniz..."%><br>
      </div>
    </div>

    <div class="actions">
      <%= f.submit class:"btn btn-default", value:"Müşteri Oluştur" %>
    </div>
  </form>
<% end %>
