<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading"><strong><%= @customer.name %></strong></div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Firma</th>
          <th>Tanım</th>
          <th>Sözleşme Yöneticisi</th>
          <th>Sözleşme Numarası</th>
          <th>Başlangıç Tarihi</th>
          <th>Bitiş Tarihi</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>

          <tr>
            <td><%= image_tag @customer.logo.url(:medium) %></td>
            <td><%= @customer.name %></td>
            <td><%= @customer.description %></td>
            <td><%= @customer.sozlesme_yoneticisi %></td>
            <td><%= @customer.sozlesme_no %></td>
            <td><%= @customer.sozlesme_baslangıc %></td>
            <td><%= @customer.sozlesme_bitis %></td>
          </tr>

      </tbody>
 </table>
  </div>
</div>


<%= link_to 'Edit', edit_customer_path(@customer) , class:"btn btn-default"%>
<%= link_to 'Back', customers_path, class:"btn btn-default" %>
