

<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-bullhorn"></span>  <%= link_to "Duyurular", notices_path%></h3>
    </div>
    <div class="panel-body" style="height:300px; overflow-y: scroll">
      <% Notice.all.order(:created_at).each do |notice| %>
        <%= link_to notice.title, notice_path(notice) %><br>
        <%= notice.title %><br>
        <%= notice.created_at.to_formatted_s(:short) %><br><hr>
      <% end %>
    </div>
  </div>
</div>



<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span>  Son Yorumlar</h3>
    </div>
    <div class="panel-body" style="height:300px; overflow-y: scroll">
      <% Comment.all.each do |c|%>
        <%= c.body %><br>
        <%= c.user.name %><br><hr>
      <% end%>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-searc3"></span>  Detaylı Arama</h3>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
</div>
