<%= form_for @solution, html: { class: 'form-horizontal' } do |f| %>
  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% @solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <label class="col-sm-2 control-label">Versiyon</label>
      <div class="col-sm-10">
        <%= f.text_field :version, class:"form-control", id:"focusedInput"%><br>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Çözüm Tipi</label>
      <div class="col-sm-10">
        <%= f.text_field :sol_type, class:"form-control", id:"focusedInput"%><br>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Ait Olduğu Müşteri</label>
      <div class="col-sm-10">
        <%= f.collection_select :customer_id, Customer.all, :id, :name , class:"form-control" , id:"focusedInput",
                                                                            prompt:"Müşteri Seçiniz.." %><br>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Cihaz Tipi</label>
      <div class="col-sm-10">
        <%= f.collection_select :device_id, Device.all, :id, :cihaz_tipi , class:"form-control", id:"focusedInput",
                                                                            prompt:"Cihaz Tipi Seçiniz.."%><br>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-2 control-label">Başlık</label>
      <div class="col-sm-10">
        <%= f.text_field :title, class:"form-control", id:"focusedInput"%><br>
      </div>
    </div>



    <div class="form-group">
      <label class="col-sm-2 control-label">Açıklama</label>
      <div class="col-sm-10">
        <%= f.text_area :body, class:"form-control", id:"focusedInput"%><br>
      </div>
    </div>


    <div class="actions">
      <%= f.submit class:"btn btn-default", value:"Cihaz Oluştur" %>
    </div>
    <br>
  </form>
  <% end %>
