<!DOCTYPE html>
<html>
  <head>
    <title>Bilgi Bankası</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></button>
            <%= link_to 'KoçSistem Bilgi Bankası', root_path, :class => 'navbar-brand'%>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Arama...">
            </div>
            <button type="submit" class="btn btn-default">Ara</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Kaydol', new_user_path%></li>
            <li><a href="#">Oturum Aç</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to 'Dashboard', root_path%></li>
        <li><%= link_to 'Müşteriler', customers_path%></li>
        <li><a href="#section2">Cihazlar</a></li>
        <li><a href="#section3">Çözümler</a></li>
      </ul><br>
    </div>

        <div class="col-sm-9">  <%= yield %> </div>
        </div>
    </div>



  </body>
</html>
